<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision4jpc.system.mapper.SysConfigMenuMapper">

    <resultMap  type="SysConfigMenu" id="SysConfigMenuResult">
        <id property="configMenuId" column="config_menu_id"/>
        <result property="toolTitle" column="tool_title"/>
        <result property="icon" column="icon"/>
        <result property="animation" column="animation"/>
        <result property="order" column="order"/>
        <result property="isBadgeinfo" column="is_badgeinfo"/>
        <result property="component" column="component"/>
        <result property="moduleId" column="module_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <!--基础系统导航栏查询SQL-->
    <sql id="selectBaseConfigMenu">
        select cm.config_menu_id,
               cm.tool_title,
               cm.icon,
               cm.animation,
               cm.`order`,
               cm.is_badgeinfo,
               cm.component,
               cm.module_id,
               cm.created_time,
               cm.updated_time
        from sys_config_menu as cm
    </sql>

    <!-- 查询配置菜单 -->
    <select id="selectConfigMenuList" resultMap="SysConfigMenuResult">
        <include refid="selectBaseConfigMenu"></include>
    </select>


    <!-- 连接查询module的通过功能模块是否开启(is_enabled='1')过滤掉没有开启的配置菜单-->
    <select id="selectConfigMenuVoList" resultMap="SysConfigMenuResult">
        <include refid="selectBaseConfigMenu"></include>
        <!-- 连接 sys_module 表，获取模块的相关信息 -->
        JOIN sys_module m
        ON cm.module_id = m.module_id

        <!-- 通过 LEFT JOIN 左连接 sys_module 表以获取父模块的信息 -->
        LEFT JOIN sys_module pm
        ON m.parent_id = pm.module_id

        <!-- 查询条件：
             1. 当前模块必须开启 (m.is_enabled = '1')。
             2. 针对模块的父子关系进行判断：
                - 如果模块没有父模块 (m.parent_id = 0) 或父模块为空 (m.parent_id IS NULL)，
                  则只需要自身开启即可。
                - 如果存在父模块，则父模块也必须处于开启状态 (pm.is_enabled = '1')。
        -->
        WHERE m.is_enabled = '1'
        AND  (m.parent_id = 0 OR m.parent_id IS NULL OR pm.is_enabled = '1')
    </select>

    <!-- 添加配置菜单 -->
    <insert id="addConfigMenu" parameterType="SysConfigMenu">
        insert into sys_config_menu (
            <if test="toolTitle != null and toolTitle != ''">tool_title,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="animation != null and animation != ''">animation,</if>
            <if test="component != null and component != ''">component,</if>
            <if test="isBadgeinfo != null and isBadgeinfo != ''">is_badgeinfo,</if>
            <if test="moduleId != null and moduleId != 0">module_id,</if>
            <if test="order != null and order != 0">`order`,</if>
            created_time)
        values (
            <if test="toolTitle != null and toolTitle != ''">#{toolTitle},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="animation != null and animation != ''">#{animation},</if>
            <if test="component != null and component != ''">#{component},</if>
            <if test="isBadgeinfo != null and isBadgeinfo != ''">#{isBadgeinfo},</if>
            <if test="moduleId != null and moduleId != 0">#{moduleId},</if>
            <if test="order != null and order != 0">#{order},</if>
            sysdate())
    </insert>

    <!-- 修改配置菜单 -->
    <update id="updateConfigMenu" parameterType="SysConfigMenu">
        update sys_config_menu
        <set>
            <if test="toolTitle != null and toolTitle != ''">tool_title = #{toolTitle},</if>
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="animation != null and animation != ''">animation = #{animation},</if>
            <if test="component != null and component != ''">component = #{component},</if>
            <if test="isBadgeinfo != null and isBadgeinfo != ''">is_badgeinfo = #{isBadgeinfo},</if>
            <if test="moduleId != null and moduleId != 0">module_id = #{moduleId},</if>
            <if test="order != null and order != 0">`order` = #{order},</if>
            updated_time = sysdate()
        </set>
        where config_menu_id = #{configMenuId}
    </update>

    <!-- 删除配置菜单 -->
    <delete id="deleteConfigMenuById" parameterType="integer">
        DELETE FROM sys_config_menu WHERE config_menu_id = #{configMenuId}
    </delete>
</mapper>