# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
#resolution-mode=highest

# 非海外用户在下载Electron有关的包源文件时可能会遇到很多网络问题, 这里添加淘宝镜像源
electron_mirror="https://npmmirror.com/mirrors/electron/"
ELECTRON_BUILDER_BINARIES_MIRROR="https://npmmirror.com/mirrors/electron-builder-binaries/"

